# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workbench_java\cmd-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
